html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Bold Font */
h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: white;
    margin: 0;
}

.bold {
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin: 0;
}

/* Regular Font */
h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

.regular {
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin: 0;
}

/* Parallax  */

.parallaxTop {
    background-image: url("../img/main_image1.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 1;
    height: inherit;
}

.parallaxTop:after {
    display: block;
    position: absolute;
    background-blend-mode: darken;
    background-image:
        -webkit-linear-gradient(bottom, rgba(24,118,186,100), 40%, rgba(255,255,255,0));
    background-image:
        linear-gradient(
            to top,
            rgba(24,118,186,100),
            40%,
            rgba(255,255,255,0));
    background-color:rgba(0,0,0,0.5);
    content: '';
    z-index: 1;
}

.parallaxBottom {
    height: inherit;
}

.parallaxTop img {
    width: auto;
}

/* Main Text Box */

.mainTextBoxAnchor {
    float: right;
    position: absolute;
    top:50%;
    left:50%    
}

.mainTextBox {
    position: relative;
    width: 77%;
}

.mainText {
    letter-spacing: -1px;
}

.secondText {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* buttons */

form.buttonClick {
    display: flex;
    position: relative;
    right: 5px;
} 

.buttonBox {
    margin-left: -2px;
    margin-top: 25px;
}

button.button {
  font-family: 'Karla', sans-serif;
  font-weight: 700;    
  color: #ffffff;
  background-color: Transparent;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid white 2px;
  text-decoration: none;
  text-align: center;
  width: 191px;
  height: 53px;
  margin-left:10px;
}

/* Bottom Stuff */

/* Bottom Menu */

#bottomMenu {
    box-shadow: 0px 17px 59px -23px rgba(0,0,0,0.72);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 61px;
    z-index: 4;
    background-color: white;
    position: relative;
    top: -60px;
    z-index: 3;
}

/* Bottom Image */
img.photoTwo {
    width: 65%;
    position: relative;
    margin: 0 auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)  {

    body {
        background-color: cyan;
    }  
      
    .mainTextBoxAnchor {
        float: right;
        position: relative;
        top:25%;
        left:25%    
    }

    .mainTextBox {
        position: relative;
        width: 77%;
    }
      
    .regular {
        font-size: 24px;
    }
      
    .secondText {
        font-size: 12px;
        margin-bottom: 10px;
        margin-left: 2px;
    } 
      
    #bottomMenu {
        height: 61px;
        z-index: 4;
        position: relative;
        top: -60px;
        z-index: 3;
    }  
}