/* Bold Font */
h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: white;
}

/* Regular Font */
h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: white;
}

/* Top Menu */



.parallaxTop {
    background-image: url("../img/main_image1.jpg");
    min-height: 1830px;
    min-width: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Lower Menu */

.parallaxBottom {
    background-image: url("../img/image2.jpg");
    min-height: 1830px;
    min-width: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Gradient (24,118,186, 50% overlay with midpoint at 40%) */

#grad {
  background: blue;
  background: -webkit-linear-gradient(left,rgba(24,118,186,100),rgba(255,255,255,0));
  background: -o-linear-gradient(right,rgba(24,118,186,100),rgba(255,255,255,0));
  background: -moz-linear-gradient(right,rgba(24,118,186,100),rgba(255,255,255,0));
  background: linear-gradient(to right,rgba(24,118,186,100),rgba(255,255,255,0));
}
