html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Bold Font */
h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: white;
    margin: 0;
}

.bold {
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin: 0;
    -webkit-transition: font-size 1s;
    transition: font-size 1s;
}

/* Regular Font */
h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

.regular {
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin: 0;
    -webkit-transition: font-size 1s;
    transition: font-size 1s;
}

a {
    cursor:pointer;
}

/* Parallax */

.parallaxTop {
    background-image: url("../img/main_image1.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1;
    height: inherit;
}

.parallaxTop:after {
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-blend-mode: darken;
    background-image:
        -webkit-linear-gradient(bottom, rgba(24,118,186,100), 40%, rgba(255,255,255,0));
    background-image:
        -webkit-linear-gradient(
            bottom,
            rgba(24,118,186,100),
            40%,
            rgba(255,255,255,0));
    background-image:
        linear-gradient(
            to top,
            rgba(24,118,186,100),
            40%,
            rgba(255,255,255,0));
    background-color:rgba(0,0,0,0.5);
    content: '';
    z-index: 1;
}

.parallaxBottom {
    height:100%;
}

.parallaxTop img {
    width: auto;
}

.bottomTextTop{
    text-align:center;
    font-size: 22px;
    padding-bottom: 5px;
}

.third{
    height:50%;
    background-color:#860000;
}

/* Main Text Box */

.mainTextBoxAnchor {
    position: absolute;
    bottom:18%;
    right:10%;
    width:405px;
    -webkit-transition: width 1s;
    transition: width 1s;
    z-index: 3;
}

.mainTextBox {
}

.mainText {
    letter-spacing: -1px;
}

.secondText {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    margin-left: 2px;
}
/* arrow */

#arrow {
    width: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.arrow-frame {
    cursor:pointer;
    margin: 0 auto;
	width: 50px;
	height: 50px;
    z-index: 3;
    position: absolute;
    bottom:13%;
}
.arrow-shaft {
	background-color: #fff;
	width: 3px;
	height: 48px;
	margin: 0 auto;
	top: 8px;
	position: relative;
}
.arrow-head {
	display: inline;
	position: relative;
	margin: 0 auto;
	left: 21px;
	bottom: 3px;
}
.arrow-head-left {
	background-color: white;
	width: 4px;
	height: 10px;
	display: inline-block;
	margin: -1px;
	-webkit-transform: rotate(325deg);
    -ms-transform: rotate(325deg);
	transform: rotate(-45deg);
}
.arrow-head-right {
	background-color: white;
	width: 4px;
	height: 10px;
	display: inline-block;
	margin: -1px;
	-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* buttons */

form.buttonClick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 5px;
} 

.buttonBox {
    margin-left: -2px;
    margin-top: 25px;
}

button.button {
  cursor:pointer;
  font-family: 'Karla', sans-serif;
  font-weight: 700;    
  color: #ffffff;
  background-color: Transparent;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid white 2px;
  text-decoration: none;
  text-align: center;
  width: 191px;
  height: 53px;
  margin-left:10px;
  -webkit-transition: width 1s, font-size 1s, height 1s;
  transition: width 1s, font-size 1s, height 1s;
}

/* Bottom Stuff */

.buffer {
    height: 175px;
}

/* Bottom Menu */

p.menuText {
    position: absolute;
    margin-left: 15px;
    margin-top: 23px;
    color: rgba(16,59,88,100);   
}

/* Bottom Image */

img.photoTwo {
    display: block;
    width: 69%;
    position: relative;
    margin: 0 auto;
}

.photoMain {
    position: relative;
}

#bottomMenu {
    box-shadow: 0px 17px 59px -23px rgba(0,0,0,0.72);
    height: 61px;
    z-index: 4;
    position: relative;
    top: -60px;
    z-index: 3;
    background-color:white;
}
/* Lines over the photo */

.boxForLines {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-top:none;
    border-bottom: none;
    border-color: black;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

/* burger menu */

.burgerBox {
    cursor:pointer;
}

.burger {
    position: absolute;
    display: inline-block;
    right: 6%;
    top: 40%;
    width: 22px;
    height: 3px;
    margin-right: 2px;
    border-top: 3px solid rgba(16,59,88,100);
    border-bottom: 3px solid rgba(16,59,88,100);
}

.burger:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    border-top: 3px solid rgba(16,59,88,100);
}

.footerBox {
    margin-top: 7%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}

.footerTitle {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(16,59,88,100);
}

.footerLink {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(16,59,88,100);
}

@media only screen 
  and (max-device-width: 325px)
  and (-webkit-min-device-pixel-ratio: 2)  {

    .arrow-frame {
        bottom: 14%;  
    }
      
    .secondText{
        width: 95%; 
    }
}

@media only screen 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)  {

    .regular {
        font-size: 24px;
    }

    .bold {
        font-size: 24px;
    }

    .mainTextBoxAnchor{
        width: 300px;
        padding-top: 70%;
        right:5%;
        bottom: 30%;
    }

    button.button {
        font-size: 10px;
        width: 150px;
        height: 45px;
    }
      
    .secondText {
        font-size: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
    } 
      
    .buffer {
        height: 20vh;
    }
     
    .bottomTextTop {
        font-size: 20px;
        padding-bottom: 0px;
    }
      
    img.photoTwo {
        width: 75%;
    }
      
    footer {
        padding-top:100px;
    }
    

}

@media only screen 
    and (max-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 1){

    .parallaxBottom {
        height: 100%;
    }
    
    .mainTextBoxAnchor{
        width:220px;
        padding-top: 70%;
        right:1%;
        bottom: 30%;
    }
    
    .secondText {
        width:90%;
        font-size: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
    } 
    
    .regular {
        font-size: 18px;
    }
    
    img.photoTwo {
        width: 86%;    
    }
        
    .bold {
        font-size: 18px;
    }
    
    button.button {
        font-size: 12px;
        padding: 10px 20px 10px 20px;
        border: solid white 2px;
        width: 95px;
        height: 53px;
    }  

    .photoMain{
        
    }

    .line1 {
        width: 120px;
        height: 47px;
    }

    .buffer {
        height: 150px;
    }
    
    .bottomBox {
        position: static;
        margin: 0 auto;
        width: 80%;
    }
    
    p.bottomTextTop {
        margin: 0 auto;
    }

    #bottomMenu {
        height: 61px;
        position: relative;
    }
    
    .bottomTextTop {
        font-size: 14px;
        padding-bottom: 12px;
    }
    
    .secondMenu {
        display: block;
    }

    footer {
        position: relative;
        width:70%;
        display: block;
        margin: 0 auto;
        padding-top:0px;
    }
    
    .footerBox {
        line-height: 15px;
        margin-top: 115px;
    }  
    
    .footerTitle {
        font-size: 14px;
    }

    .footerLink {
        font-size: 12px;
    }
}